body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-top: 50px; 
    display: flex;
    flex-direction: column;
}
.kerdes {
    margin-bottom: 10px;
}
.kerdes label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
}
.kerdes input[type="text"],
.kerdes input[type="email"],
.kerdes textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.kerdes input[type="radio"] {
    display: inline-block; 
    margin-right: 10px; 
}
.submit-btn {
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center; 
    padding: 10px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #afa5a5;
  }


  nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}
button {
    border-radius: 20px;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    margin: 5px 0px;
    width: 40%;
  }
  
  button:hover {
    background-color: #111;
  }