html, body {
    margin: 0;
    padding: 0;
  }
  
.kepregeny{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    max-width: 950px;
}

.kep{
    border: 1px solid black;
    gap: 10px;
    margin: 10px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-wrap: wrap;
}

article{
    display: flex;
    flex: 0 0 80%;
}

aside{
    flex: 0 0 20%;
    border: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: stretch;
    max-width: 600px;
}

nav{
    flex: 0 0 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center; 
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #afa5a5;
  }

  nav {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

header{
    flex: 0 0 100%;
    text-align: center;
}

footer{
    flex: 0 0 100%;
    color: white;
    background-color: black;
    text-align: center;
}

.kep img{
    max-width: 200px;
}

.hirdetes img{
    max-width: 70px;
}